# ==========================
# Environments & Secrets
# ==========================
**/.env
**/.env.*
**/.venv/
**/venv/
**/ENV/
**/env.bak/
**/venv.bak/

# ==========================
# Python Cache
# ==========================
**/__pycache__/
**/*.py[cod]
**/*$py.class

# ==========================
# IDE / Editor Config
# ==========================
**/.idea/
**/.vscode/
**/*.iml
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# ==========================
# Test / Coverage
# ==========================
**/.pytest_cache/
**/.tox/
**/.nox/
**/.mypy_cache/
**/coverage.xml
**/htmlcov/
**/*.cover
**/*.py,cover
**/.cache

# ==========================
# Logs
# ==========================
**/logs/
**/*.log
**/test_logs/
sprig-config-root.code-workspace
sprig-config-module/sprig-config-module.code-workspace
sprig-tools/sprig-tools.code-workspace
